@page
@model Proiect_WEB.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DataAngajarii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DataAngajarii)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Departament)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Departament)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Salariu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Salariu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Oras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Oras)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Status.StatusAngajat)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
